In [1]:
import pandas as pd
from datetime import datetime as dt, timedelta
import plotly.express as px
import plotly.graph_objects as go
import plotly.colors as pc
from ETL_pipeline import file_path
df = pd.read_csv(file_path)
df

Programm connected to DB succesfully
Succesfully read dataset
Data cleaned successfully
Cleaned data uploaded to PostgreSQL succesfully
ETL-pipeline has succesfully finished!

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2015-110422,2015-01-21,2015-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [2]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2015-110422,2015-01-21,2015-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [3]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2015-110422,2015-01-21,2015-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [4]:
sorted_df = df.sort_values(by='Order Date', ascending=True)
sorted_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
7980,7981,CA-2015-103800,2015-01-03,2015-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095.0,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512
739,740,CA-2015-112326,2015-01-04,2015-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540.0,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
740,741,CA-2015-112326,2015-01-04,2015-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540.0,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
741,742,CA-2015-112326,2015-01-04,2015-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540.0,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
1759,1760,CA-2015-141817,2015-01-05,2015-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143.0,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5091,5092,CA-2018-156720,2018-12-30,2019-01-03,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,...,80538.0,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048
908,909,CA-2018-143259,2018-12-30,2019-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009.0,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,52.776,3,0.2,19.7910
907,908,CA-2018-143259,2018-12-30,2019-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009.0,East,TEC-PH-10004774,Technology,Phones,Gear Head AU3700S Headset,90.930,7,0.0,2.7279
1296,1297,CA-2018-115427,2018-12-30,2019-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,...,94533.0,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188
906,907,CA-2018-143259,2018-12-30,2019-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009.0,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",323.136,4,0.2,12.1176

In [5]:
reference_date = df['Order Date'].max() + timedelta(days=1)
reference_date

Timestamp('2018-12-31 00:00:00')

In [7]:
rfm_df = df.groupby('Customer ID').agg({
    'Order Date' : lambda x: (reference_date - x.max()).days,
    'Order ID' : 'count',
    'Sales' : 'sum'
}).reset_index()
rfm_df.tail()

    Customer ID  Order Date  Order ID     Sales
788    XP-21865          44        28  2374.658
789    YC-21895           5         8  5454.350
790    YS-21880          10        12  6720.444
791    ZC-21910          55        31  8025.707
792    ZD-21925         203         9  1493.944

In [9]:
rfm_df_m = rfm_df.rename(columns={'Order Date':'Recency', 'Order ID':'Frequency', 'Sales':'Monetary'})
rfm_df_m

    Customer ID  Recency  Frequency  Monetary
0      AA-10315      185         11  5563.560
1      AA-10375       20         15  1056.390
2      AA-10480      260         12  1790.512
3      AA-10645       56         18  5086.935
4      AB-10015      416          6   886.156
..          ...      ...        ...       ...
788    XP-21865       44         28  2374.658
789    YC-21895        5          8  5454.350
790    YS-21880       10         12  6720.444
791    ZC-21910       55         31  8025.707
792    ZD-21925      203          9  1493.944

[793 rows x 4 columns]

In [15]:
Quantiles = rfm_df_m[['Recency', 'Frequency', 'Monetary']].quantile([0.25, 0.5, 0.75, 1])
Quantiles

      Recency  Frequency   Monetary
0.25     31.0        8.0   1146.050
0.50     76.0       12.0   2256.394
0.75    184.0       16.0   3785.276
1.00   1166.0       37.0  25043.050

In [20]:
q1_recency = rfm_df_m['Recency'].quantile(0.25)
q2_recency = rfm_df_m['Recency'].quantile(0.5)
q3_recency = rfm_df_m['Recency'].quantile(0.75)

def r_score(x):
    if x <= q1_recency:
        return 4
    elif x > q1_recency and x <= q2_recency:
        return 3
    elif x > q2_recency and x <= q3_recency:
        return 2
    else:
        return 1

rfm_df_m['R_Score'] = rfm_df_m['Recency'].apply(r_score)

In [26]:
q1_frequency = rfm_df_m['Frequency'].quantile(0.25)
q2_frequency = rfm_df_m['Frequency'].quantile(0.5)
q3_frequency = rfm_df_m['Frequency'].quantile(0.75)

def f_score(x):
    if x <= q1_frequency:
        return 4
    elif x > q1_frequency and x <= q2_frequency:
        return 3
    elif x > q2_frequency and x <= q3_frequency:
        return 2
    else:
        return 1

rfm_df_m['F_Score'] = rfm_df_m['Frequency'].apply(f_score)

In [28]:
q1_monetary = rfm_df_m['Monetary'].quantile(0.25)
q2_monetary = rfm_df_m['Monetary'].quantile(0.5)
q3_monetary = rfm_df_m['Monetary'].quantile(0.75)

def m_score(x):
    if x <= q1_monetary:
        return 4
    elif x > q1_monetary and x <= q2_monetary:
        return 3
    elif x > q2_monetary and x <= q3_monetary:
        return 2
    else:
        return 1
rfm_df_m['M_Score'] = rfm_df_m['Monetary'].apply(m_score)

In [29]:
rfm_df_m

    Customer ID  Recency  Frequency  Monetary  R_Score  F_Score  M_Score
0      AA-10315      185         11  5563.560        1        3        1
1      AA-10375       20         15  1056.390        4        2        4
2      AA-10480      260         12  1790.512        1        3        3
3      AA-10645       56         18  5086.935        3        1        1
4      AB-10015      416          6   886.156        1        4        4
..          ...      ...        ...       ...      ...      ...      ...
788    XP-21865       44         28  2374.658        3        1        2
789    YC-21895        5          8  5454.350        4        4        1
790    YS-21880       10         12  6720.444        4        3        1
791    ZC-21910       55         31  8025.707        3        1        1
792    ZD-21925      203          9  1493.944        1        3        3

[793 rows x 7 columns]

In [33]:
rfm_df_m['RFM_Score']=rfm_df_m['R_Score'].astype(str) + rfm_df_m['F_Score'].astype(str) + rfm_df_m['M_Score'].astype(str)

In [34]:
rfm_df_m

,Customer ID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score
0,AA-10315,185,11,5563.560,1,3,1,131
1,AA-10375,20,15,1056.390,4,2,4,424
2,AA-10480,260,12,1790.512,1,3,3,133
3,AA-10645,56,18,5086.935,3,1,1,311
4,AB-10015,416,6,886.156,1,4,4,144
...,...,...,...,...,...,...,...,...
788,XP-21865,44,28,2374.658,3,1,2,312
789,YC-21895,5,8,5454.350,4,4,1,441
790,YS-21880,10,12,6720.444,4,3,1,431
791,ZC-21910,55,31,8025.707,3,1,1,311
792,ZD-21925,203,9,1493.944,1,3,3,133

In [35]:
def seqmentation(x):
    if x == '444':
        return 'Champion'
    elif x in ['333', '443', '344', '434', '334', '343', '433']:
        return 'Loyal Customer'
    elif x in ['144', '143', '142', '134', '133', '132', '244', '243', '242', '234', '233', '232']:
        return 'At Risk'
    elif x in ['411', '412', '413', '414']:
        return 'New Customer'
    else:
        return np.nan
        
rfm_df_m['Customer_Category'] = rfm_df_m['RFM_Score'].apply(seqmentation)

In [36]:
rfm_df_m

,Customer ID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score,Customer_Category
0,AA-10315,185,11,5563.560,1,3,1,131,NaN
1,AA-10375,20,15,1056.390,4,2,4,424,NaN
2,AA-10480,260,12,1790.512,1,3,3,133,At Risk
3,AA-10645,56,18,5086.935,3,1,1,311,NaN
4,AB-10015,416,6,886.156,1,4,4,144,At Risk
...,...,...,...,...,...,...,...,...,...
788,XP-21865,44,28,2374.658,3,1,2,312,NaN
789,YC-21895,5,8,5454.350,4,4,1,441,NaN
790,YS-21880,10,12,6720.444,4,3,1,431,NaN
791,ZC-21910,55,31,8025.707,3,1,1,311,NaN
792,ZD-21925,203,9,1493.944,1,3,3,133,At Risk